
<section>
  <div class="como_funciona">
  <h3>Como Funciona?</h3>
  <br/>
  <h4>Consulta Inicial:</h4>
  <p>Discussão sobre suas preferências e necessidades.</p>
  <br/>
  <h4>Criação do Menu:</h4>
  <p>Desenvolvimento de um menu exclusivo.</p>
   <br/>
  <h4>Execução: </h4>
  <p>Preparo e apresentação dos pratos em sua casa.</p>
  <br/>
  <h4>Desfrute e Relaxamento:</h4>
  <p>Saboreie a refeição enquanto cuidamos da limpeza.</p>
  </div>
</section>





{% schema %}
  {
    "name": "Como funciona",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "como funciona"
      }
    ]
  }
  
{% endschema %}