{{ 'component-banner.css' |  asset_url |  stylesheet_tag }}



<section class="video-banner">  
<nav class="nave">
  <a href="#home">Home</a>
  <div class="links">
  <a href="#section1">Sobre</a>
  <a href="#section2">Serviços</a>
  </div>
</nav>             
  <div id='home' class="video-container">
    <video autoplay loop muted playsinline>
      <source src="{{ section.settings.video-banner |  video_tag }}">
    </video>
  </div>
</section>







{% schema %}
{
    "name": "custom-banner",
    "settings": [
         {
            "type": "video",
            "id": "video-banner",
            "label": "video"
         }
        ],
        "presets": [
            {
                "name": "banner personalizado"
            }
        
        ]   
}
{% endschema %}


<script>
  let lastScrollTop = 0;
const header = document.querySelector('.nave');

window.addEventListener('scroll', () => {
    let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

    if (scrollTop > lastScrollTop) {

        header.style.transform = 'translateY(-100%)';
    } else {
       
        header.style.transform = 'translateY(0)';
    }

    lastScrollTop = scrollTop;
});
</script>