
{{ "component-grid-produto.css" |  asset_url |  stylesheet_tag }}

{% style %}

{% endstyle %}



<section class="section_produtos" style="display: flex; flex-direction:column;">
    <h1 style="text-align: center; color: white">Serviços</h1>
    <div class="container_grid">
        
    <div class="grid1">
       <img src="{{ section.settings.bg-img1 |  image_url: width: 300 |  image_tag }}" alt="">
    </div>

    <div class="grid2">
        <img src="{{ section.settings.bg-img2 |  image_url: width: 300 |  image_tag }}" alt="">
    </div>

    <div class="grid3">
        <img src="{{ section.settings.bg-img3 |  image_url: width: 300 |  image_tag }}" alt="">
    </div>
    </div>
</section>









{% schema %}
{
    "name": "grid-produtos",
    "settings": [
        {
            "type": "image_picker",
            "id": "bg-img1",
            "label": "Imagem Principal"
        },
        {
            "type": "richtext",
            "id": "text-img1",
            "label": "Texto Imagem n°1"
        },
        {
            "type": "image_picker",
            "id": "bg-img2",
            "label": "Imagem Secundaria"
        },
        {
            "type": "richtext",
            "id": "text-img2",
            "label": "Texto Imagem n°2"
        },
        {
            "type": "image_picker",
            "id": "bg-img3",
            "label": "Imagem Secundaria"
        },
        {
            "type": "richtext",
            "id": "text-img3",
            "label": "Texto Imagem n°3"
        }
        
        ],
        "presets": [
            {
                "name": "Grid Podutos"
            }
        ]
}
{% endschema %}