{{ "aboutme.css" |  asset_url |  stylesheet_tag }}


{% style  %} 

.container{
  background-image: url('{{ "bgDebora.jpg" | asset_url }}');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  opacity:0.8;
}

 {% endstyle %}

<section id="sobre">
    <div class="container">
        <div class="description">
        <h2>{{ section.settings.text_aboutme }}</h2>
        <p style="font-size: 1.7rem; color: white;">{{ section.settings.text_area }}</p>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "sobre-mim",
    "settings": [
        {
            "type": "richtext",
            "id": "text_aboutme",
            "label": "Texto Principal"
        },
        {
            "type": "textarea",
            "id": "text_area",
            "label": "Texto Secundario"
        }
        
        ],
        "presets": [
            {
                "name": "sobre-mim"
            }
        ]
}
{% endschema %}