.section_produtos{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    .container_grid{
        max-width: 100%;
        display: grid;
        grid-template-areas: 
        
        "grid01 grid01 grid02 grid02"
        "grid01 grid01 grid02 grid02"
        "grid01 grid01 grid03 grid03"
        "grid01 grid01 grid03 grid03"
        ;
        gap: 10px;
    
    
        .grid1{
            grid-area: grid01;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: red;
    
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    
        .grid2{
            grid-area: grid02;
            background-color: gray;
        }
    
        .grid3{
            grid-area: grid03;
            background-color: wheat;
            
        }
    }
}