
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    display: flex;
    margin-top: 20px;



    .grid1{
        width: 50%;
        height: 400px;
        padding: 10px;



        .item1{
            width: 100%;
            height: 100%;
            border-radius: 15px;
            
            h2{
                margin-left: 20px;
                color: white;
                font-weight: 800;
            }

            img{
                border-radius: 15px;
                object-fit: cover;
                object-position: center;
                
            }
        }
    }

    .grid2{
        width: 50%;
        height: 400px;
        padding: 10px;
   
        display: flex;
        flex-direction: column;
        gap: 5px;

        .item2{
            width: 100%;
            height: 50%;
            border-radius: 15px;

            h2{
                margin-left: 20px;
                color: white;
                font-weight: 800;
            }
           

            img{
                border-radius: 15px;
                object-fit: cover;
                object-position: center;
                
            }
        }

        .item3{
            width: 100%;
            height: 50%;
            border-radius: 15px;

            h2{
                margin-left: 20px;
                color: white;
                font-weight: 800;
            }

            img{
                border-radius: 15px;
                object-fit: cover;
                object-position: center;
                
            }
        }
    }
}